@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model string

@{
    ViewData["Title"] = "Chat";
}
<h1>Hello @HttpContextAccessor.HttpContext.Session.GetString("UserName")!</h1>
<input hidden value="@Model" id="userName" />
<div class="row">

    <div class="col-md-10">
        <input id="txtMessage" class="form-control" placeholder="Enter your message" />
    </div>
    <div class="col-md-2">
        <button id="btnSend" disabled class="btn btn-success form-control">Send message</button>
    </div>
    <hr class="col-md-12" />
    <div class="col-md-12">
        <ul id="listMessages">
        </ul>
    </div>
</div>

@section Scripts{
    <script src="~/lib/aspnet-signalr/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}